@page
@model ProyectoCiclo3.App.Frontend.Pages.EditBusModel
@{
    var bus = Model.Bus;
}

<div class="text-center">
  <form method="post">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-6 col-md-auto col-lg-4">
          <label for="id" class="form-label">Digite el ID:</label>
          <input type="number" class="form-control" id="id" name="id" placeholder="Id" asp-for="@bus.id" required>
        </div>
        <div class="col-6 col-md-auto col-lg-4">
          <label for="marca" class="form-label">Digite la marca:</label>
          <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca" asp-for="@bus.marca" required>
        </div>
        <div class="col-6 col-md-auto col-lg-4">
          <label for="modelo" class="form-label">Digite el modelo:</label>
          <input type="number" class="form-control" id="modelo" name="modelo" placeholder="Modelo" asp-for="@bus.modelo" required>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
          <label for="kilometraje" class="form-label">Digite el kilometraje</label>
          <input type="number" class="form-control" id="kilometraje" name="kilometraje" placeholder="kilometraje" asp-for="@bus.kilometraje" required>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
          <label for="numero_asientos" class="form-label">Digite el numero de asientos:</label>
          <input type="number" class="form-control" id="num_asientos" name="num_asientos"
            placeholder="# de asientos" asp-for="@bus.num_asientos" required>
        </div>
        <div class="col-6 col-md-4 col-lg-4">
          <label for="Placa" class="form-label">Digite la placa del bus:</label>
          <input type="text" class="form-control" id="placa" name="Placa" placeholder="Placa" asp-for="@bus.placa" readonly required minlength="6" maxlength="6">
        </div>
      </div>
      <br>

    </div>


    <hr>
    <button type="submit" class="btn btn-success" style="font-family: cursive;color:black">  &nbspEnviar&nbsp  </button>


  </form>
</div>